*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}

html{
    font-size: 62.5%;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url(images/libraryBg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    width: 500px;
    height: 450px;
}

.header{
    font-size: 2.4rem;
    border: 2px solid #fff;
    color: #fff;
    background-color: #262626;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
}